/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
    font-size: 16px;
	margin: 1px;
    padding: 5px;
}
td, th {
}

tr:nth-child(odd) {
    background: #f9f9f9;
}

th, tr:hover {
    background: #c9c9c9;
}

.remove {
	cursor: pointer;
    padding: 12px 16px 12px 16px;
}

.remove:hover {
    background-color: #f44336;
    color: white;
}

.header {
	background-color: #d3d7cf;
    padding: 5px 10px;
    color: green;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input, button {
    width: 75%;
    padding: 10px;
    margin: 10px;
    float: left;
    font-size: 12px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: green;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#blockNewGame{
	width: 45%;
	float: right;	
}

#blockName {
	width: 45%;
	float: left;
}

#yellow {
    background-color: yellow;
    color: #000;
    padding: 3%;
}

#green {
    background-color: green;
    color: #fff;
    padding: 3%;
}

.addBtn:hover {
    background-color: #bbb;
    color: green;
}

.grid {
	padding: 5%;
}


#name {
    width: 50%;
    padding: 5px;
    margin: 10px;
    float: left;
    font-size: 12px;
}
#addNameBtn {
    width: 30%;
    padding: 5px;
    margin: 10px;
    float: right;
    font-size: 12px;
    background-color: #61b4c4;
}

#addNameBtn:hover {
	background-color: #c43f8e;
	color: #fff;	
}

#newGame{
	width: 90%;
	font-size: 12px;
	padding: 5px;
    margin: 10px;
    background-color: #4326c4;
}
#newGame:hover{
	width: 90%;
	font-size: 12px;
	padding: 5px;
    margin: 10px;
    color: #4326c4;
    background-color: #61b4c4;
}

#bodyGame {
	width: 50%;
	font-size: 120%;
	background-color: #d3d7cf;
    padding: 10px 20px;
    color: green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#rSide {
	float: left;
	width: 45%;	
}
#logTable {
	width: 100%;
}
#blockAttempt{

}

#check{
	width: 75%;
	background-color: #c43f8e;
	color: #61b4c4;
}

#check:hover {
    background-color:#61b4c4;
    color: #c43f8e;
}

#lSide {
	float: right;	
	width: 45%;	
}

#guessTxt{
	color:#4326c4;
	font-size: 120%;
}
#theTxt{
	color:#61b4c4;
	font-size: 50%;
}
#numberTxt{
	color:#c43f8e;
	font-size: 120%;
}